@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --radius-5xl: 5rem;
  --color-dark-green: #143109;
  --color-light-green: #426b33;
  --color-light-yellow: #FEE8B0;
  --color-primary: #F97B22;
  --color-black: #232020;
}

:root {
  --dark-green: #143109;
  --light-green: #426b33;
  --light-yellow: #FEE8B0;
  --primary: #F97B22;
  --black: #232020;
}

body {
  background: var(--light-yellow);
  color: var(--black);
}

button, a {
  cursor: pointer;
}
